extends layout

block content
  h1 #{title}: #{book.title}
  if book.author
    p By: #{book.author.name}

  if book_instances.length
    p #[strong Delete the following books instances before attempting to delete this book.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Books Instances

      dl
      each book_instance in book_instances
        hr
        div
          a(href=book_instance.url) #{book_instance._id}
          p #{`Imprint: ${book_instance.imprint} `}
            span Status:&nbsp;
            if book_instance.status=='Available'
              span.text-success #{book_instance.status}
            else if book_instance.status=='Maintenance'
              span.text-danger #{book_instance.status}
            else
              span.text-warning #{book_instance.status}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookId.form-control(type='hidden',name='bookId', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete